[submodule "external/FLParser"]
	path = external/FLParser
	url = https://github.com/LeStahL/FLParser.git
[submodule "external/vst3sdk"]
	path = external/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
